
@{
    ViewBag.Title = "Details";
}

@model MVC_CRUD_scaffolding.Models.Category

<h2>Category Details</h2>

<div>
    <h4>@Model.CategoryName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>


